body {
  font-family: Arial, sans-serif; /*  Шрифт  */
  font-size: 18px;
  line-height: 1.5; /* Межстрочный интервал. 25px; -- лучше ипользовать значения как в примере соотношение.*/
  color: rebeccapurple;
  background-color: #eee;
  background-image: url("../img/react.jpeg");
}

/* Сразу прописываем алгорит подсчета для всех элементов*/

*,
*:before,
*:after {
  box-sizing: border-box;
}


.title {
  text-align: center; /* Текст по центру */
  font-weight: 700;
  letter-spacing: 4px; /* отступы между буквами */
  text-decoration: underline; /* Подчеркнутый текст */
  text-transform: uppercase; /* Текст заглавными буквами */
  /* text-indent: 20px;  "Красная строка"*/
}
.justify {
  text-align: justify; /* выравнивание текста */
  font-weight: bold; /* Жирный шрифт */
  font-style: italic; /* Наклонный шрифт */
  text-transform: capitalize; /* Первые буквы в тексте заглавными */
}
.ul1 {
  list-style-type: circle; /* Изменить маркер списка */
  list-style-position: inside; /* Отступ текста от маркера */
}

ol {
  list-style-type: decimal-leading-zero; /* Изменить маркер списка */
}

.table {
  border-collapse: collapse; /* работа с ячейками, чтоы не было отделения*/
  border: 1px solid black; /* толщина линии таблицы, цвет линии - черный */
  width: 100%; /* Ширина таблицы */
  table-layout: fixed; /* Одинаковые размеры ячеек */
}

.table th {
  text-align: left; /* Выравнивание по левому краю */
  padding: 5px; /* 5 10 8 7 - эта запись всех строн начиная с верху и по часовой стрелке,
                  либо отделььно для каждой стороны padding-top, padding-right итд. */
  color: red;
}
.table td {
  padding: 5px; /* Отступ текста в таблице */
  border: 1px solid black;
}

.table tfoot td {
  text-align: right; /* Tекст не сместился вправо */
}

.text-red {
  margin: 10px; /* с верху и снизу не применяться */
  display: block; /* Из строчного элемента сделает блочный */
  color: red;
  font-weight: 700;
  font-style: italic;
}
/*
.content {
  width: 200px;
  height: 200px; /* Высота используется редко, т.к. контент может не поместиться */
/*  margin: 10px 20px; /* Отступы работает также, как padding и применяется только для строчных элементов см. пример .text-red 
}
*/

/* Выравнива1ние всей страницы по центру экрана */
.page {
  width: 900;
  margin-right: auto;
  margin-left: auto;
}

/* Post */
.post {
  width: 700;
  height: 400;
  padding: 15px 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border: 1px solid #ddd;

  /* Part #1 */
  background-color: #fff; /* цвет фона */
  background-image: url("../img/react.png"); /* Картинка фона*/
  background-repeat: no-repeat; /* Не повторять картинку */
  background-size: 100% auto; /* Растянуть по ширине на 100% по высоте авто либо cover*/
  background-position: center; /* Смена позиции картинки */
}

/* Part #2 Задаем фон через одно значение */
/*
  background: #fff url("../img/react.png") no-repeat center 
  background-size: cover;

.post-title {
  margin-top: 0;
  margin-bottom: 20px;
  color: #1566c6;
  text-align: center;
}
*/
.post-text {
  color: #000;
}
.post-text p {
  margin: 0 0 10px 0;
}
/* Gradient*/
.gradient {
  width: 700px;
  height: 300px;
  background-image: linear-gradient(to top, #fff, #000, #fff);
  margin: 0 auto;
}

/* Form */

.form {
  width: 500px;
  padding: 20px;
  margin: auto;
  background-color: #fff;
}

.form-group {
  margin: 15px;
}

.form-input {
  display: block;
  padding: 5px;

  border: 2px solid #000;
  font-family: Arial, sans-serif;
  font-size: 15px;
}

.form-fieldset {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #000;
  
}

.form-title {
  margin: 0 0 15px;
}

.form-textarea {
  width: 200px;
  height: 150px;
  min-height: 200px; /* Мин. уменьшение текстового поля по высоте */
  max-height: 350px;
  padding: 5px;
  border: 2px solid #000;
  resize: vertical; /* Растягивание текстого поля по вертикали, none - запретить */
  outline: 10px solid red; /* Не влияет на размер блока */
  outline-offset: 5px; /* Обводка будет иметь отступ от блока */
  font-family: Arialm, sans-serif;
  font-size: 15px;
}

.form-textarea:focus {
  background-color: #bddbff;
}

.link {
  color: #1d76dd;
  text-decoration: none;
}

.link:visited { /* Обязательно писать до hover, меняет цвет посещенных ссылок */
  color: #7922d1;
}

.link:hover { /* Псевдокласс: При наводе на элемент */
  text-decoration: underline;
  
}

.btn {
  padding: 5px 10px;
  background-color: #43ac14;
  color: #fff;
  border: 1px solid #000;
    /* Плавность перехода */
  transition: background 0.2s linear, border-color 0.2s linear; 


.btn:focus {
  outline: none;
}

.btn:hover,
.btn:focus 
  background-color: #3a9134;
  cursor: pointer;
  border-color: blue ;
}

.btn:active { /* Действие в момент нажатия, писать после hover*/
  background-color: #2c760a;
}
 
/* .btn:desabled {} Псевдокласс для не активных кнопок, после hover. cursor: not-allowed; и атрибут в html desabled */

form-input:focus {
  outline: none; /* Убрали стандартную браузерную обводку */
  background-color: #bddbff;
}

/* Position.html */
/* Body */

.position-body {
  margin: 0;
  background: #fff;
  font-family: Arial, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #333;
}

/* Modal */

.modal {
  width: 500px;
  height: 300px;
  padding: 15px;
  background-color: #eee;
  margin: 20px auto;
  position: relative; /* Теперь элемент .square будет позиционироваться относительно элемента .modal */
}

.modal-title {
  font-family: Arial, sans-serif;
  color: #c643f5;
  margin: 0;
}

/* Square */

.square {
  width: 50px;
  height: 50px;

  background-color: #333;
  z-index: 2; /* Меняет позицию элемента по оси Z, и в данном случаи измениться приоритет */ 

  position: absolute; /* При absolute мы сможем менять позицию нашего квадрата с помощью: top, right, bottom, left. position: static - убирает позиционирование; */
  top: -10px;
  right: -10px;
}

.square.red {
  background-color: #d41717;
  right: -15px;
  top: -5px;
  z-index: 1;
}

.square-fixed {
  width: 50px;
  height: 50px;
  background-color: blue;
  margin-top: -25px; /* Сделает позицию элемента ровно по центру */
  margin-left: -25px;
  position: fixed; /* Позицианирует документ относительно нашего окна просмотра, не смещается при скроле и position: relative; на него не влияет, но лучше, чтобы он был прямым потомком тега <body>. */
 top: 50%;
  left: 50%;
}

/* Pseudo */

.body-pseudo {
  background: #fff;
}

.pseudo-title {
  margin: 0;
position: relative;

  font-size: 30px;
  text-align: center;
}

/* 
 Если свойства совпадают то можно объединять 
.pseudo-title::before,
.pseudo-title::after {
  color: red;
  font-size: 12px;
}
*/
/*
.pseudo-title::before {
  content: '1. '; /* Обязательное свойство для before, вставка до контента */ /* 
  }
*/

.pseudo-title:before {
  content: '';
  display: block;
  width: 50px;
  height: 5px;
   background-color: #274fbc;
  position: absolute;
  bottom: -5px;
  left: 50%;
  margin-left: -25px;
}

.pseudo-title:after { /* Вставка за контентом */ 
    content: ''; 
    display: block;
  width: 50px;
  height: 5px;
  margin: 5px auto;
  background-color: red;
   }

.pseudo-text p:first-letter { /* Другой цвет первой буквы в новом абзаце */
color: red;
  font-size: 50px;
}

.pseudo-text p:first-line { /* Другой цвет первой строки абзаца */
  color: yellow;
}

/* CSS3 */

.element {
  width: 400px;
  height: 400px;
  margin: 20px auto;
  padding: 20px;
  box-sizing: border-box; /* Меняет алгоритм подсчета размера блока и padding: 20; не влият на размер блока и идет во внутрь. См.строку №10 */

  background-color: #ccc;
  /* Закругление углов нашего квадрата, можно в процентах */
 /* border-radius: 100px 15px 25px 35px / 50px 5px 5px 5px; */ 
  border-radius: 20px;
  /* Тени элементов. Состоит из 4-х  параметров и цвета: 1. Сдвиг по оси х 2. по y, 3. Размытие 4. Размер тени 5. Цвет элемента */ 
  box-shadow: -10px 5px 20px  #a2a2a2 inset, -10px 5px 20px #a2a2a2 ; /* inset - внут. тень, а через запятую указана внешняя тень */
  opacity: 0.1; /* Не прозрачность элемента от 0 до 1 */
}

.element-title {
  margin: 0;
  text-shadow: -5px 5px 5px #a2a2a2;
}






