body {
  margin: 0;
  font-family: Arial, sans-serif;

  color: #121212;
  font-size: 15px;
  line-height: 1.5;
  background-color: #0d326d;
}

/* Auth */

.auth {
  width: 300px;
  padding: 20px;
margin: 20px auto;
  background-color: #fff;
}
