body {
  margin: 0;

  font-family: Arial, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #121212;
  background: url("../img/bg.png");
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}


.img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}


.page {
  width: 1000px;
  margin: 20px auto;
  background-color: #fff;
}

/* Conteiner */

.container {
  display: flex;
}

/* Header */

.header {
  padding: 20px;
  background-color: #121212;
}

.header-title {
  margin: 0;
  font-size: 24px;
  color: #fff;
  text-align: center;
}

.header-subtitle {
  margin: 0;
  font-size: 16px;
  color: #aa90cb;
  text-align: center;
  font-weight: 400;
}

/* Navigate */

.nav {
  display: flex;
  justify-content: center;
  text-align: center;
}

.nav-link {
  /* display: inline-block; */

  padding: 8px 12px;

  color: #121212;
  text-decoration: none;
  transition: background-color 0.2s linear;
}
.nav-link:hover {
  background-color: #eee;
}

/* Content */
.content {
  width: 800px;
  padding: 0 20px;
}

.intro-img {
  border-radius: 5px;
  box-shadow: 0 6px 10px #eee;
  opacity: 0.8;
  transition: opacity 0.2s linear;
}

.intro-img:hover {
  opacity: 1;
}

.content-title {
  font-size: 24px;
  margin: 0 0 15px;
}

.content-text {
  margin-bottom: 20px;
}

.read-more {
  color: #1d7abe;
  text-decoration: none;
}

.read-more:hover {
  background-color: #eee;
  text-decoration: underline;
}

/* Sidebar */

.sidebar {
  width: 200px;
  padding: 10px;
  text-align: center;
  background-color: #eee;
}

.sidebar-title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 16px;
  color: #e02525;
}

.sidebar-text {
  font-size: 12px;
}

.sidebar-img {
  background-color: blue;
}

/* Article */

.article {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.article-title {
  margin: 0 0 5px;
  font-size: 18px;
  color: #0d448e;
}
.article-title a {
  color: inherit; /* Наследовать цвет у родителя */
  text-decoration: none;
}

.article-title a:hover {
  /* Псевдокласс, будет подчеркивать при наведении на ссылку */
  text-decoration: underline;
}

.article-date {
  display: block;
  font-size: 12px;
  color: #a4a4a4;
}

/* Footer */

.footer {
  padding: 20px;
  background-color: #121212;
  color: #fff;
  text-align: center;
}
